<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletín Estudiantil</title>
    <link rel="icon" type="image/png" href="/images/icon-36x36.png">
    <link rel="stylesheet" href="/CSS/vista-style.css">
</head>

<body>
    <%- include('partials/header') %>

    <div class="notas">
        <table>
            <!-- Encabezado de la tabla -->
            <tr class="header-row">
                <th rowspan="3">Preceptor/a: <%- usuario.nombre %></th>
            </tr>

            <tr class="header-row">
                <th colspan="3">1er cuatrimestre</th>
                <th colspan="3">2do cuatrimestre</th>
                <th rowspan="2">Anual</th>
                <th colspan="2">Recuperatorio</th>
                <th rowspan="2">Nota Final</th>
            </tr>

            <tr class="header-row">
                <th>1 NP</th>
                <th>2 NP</th>
                <th>Nota</th>
                <th>1 NP</th>
                <th>2 NP</th>
                <th>Nota</th>
                <th>Dic</th>
                <th>Feb</th>
            </tr>
            <%console.log("maggie", notas)%>
            <!-- Fila de cada materia -->
            <% materias.forEach(materia => { %>
                <tr>
                    <td><%= materia.nombre_materia %></td>
                    <% 
                        let nota1NP1 = notas.find(n => n.materia_id === materia.materia_id && n.cuatrimestre === 1 && n.informe === '1NP');
                        let nota2NP1 = notas.find(n => n.materia_id === materia.materia_id && n.cuatrimestre === 1 && n.informe === '2NP');
                        let notaFinal1 = notas.find(n => n.materia_id === materia.materia_id && n.cuatrimestre === 1 && n.informe === 'Final');
                        let nota1NP2 = notas.find(n => n.materia_id === materia.materia_id && n.cuatrimestre === 2 && n.informe === '1NP');
                        let nota2NP2 = notas.find(n => n.materia_id === materia.materia_id && n.cuatrimestre === 2 && n.informe === '2NP');
                        let notaFinal2 = notas.find(n => n.materia_id === materia.materia_id && n.cuatrimestre === 2 && n.informe === 'Final');
                        let notaAnual = notas.find(n => n.materia_id === materia.materia_id && n.informe === 'Anual');
                        let notaRecDic = notas.find(n => n.materia_id === materia.materia_id && n.informe === 'Dic');
                        let notaRecFeb = notas.find(n => n.materia_id === materia.materia_id && n.informe === 'Feb');
                        let notaFinal = notas.find(n => n.materia_id === materia.materia_id && n.informe === 'NotaFinal');
                    %>
                    <td><%= nota1NP1 ? nota1NP1.nota : '' %></td>
                    <td><%= nota2NP1 ? nota2NP1.nota : '' %></td>
                    <td><%= notaFinal1 ? notaFinal1.nota : '' %></td>
                    <td><%= nota1NP2 ? nota1NP2.nota : '' %></td>
                    <td><%= nota2NP2 ? nota2NP2.nota : '' %></td>
                    <td><%= notaFinal2 ? notaFinal2.nota : '' %></td>
                    <td><%= notaAnual ? notaAnual.nota : '' %></td>
                    <td><%= notaRecDic ? notaRecDic.nota : '' %></td>
                    <td><%= notaRecFeb ? notaRecFeb.nota : '' %></td>
                    <td><%= notaFinal ? notaFinal.nota : '' %></td>
                </tr>
            <% }) %>
            
        </table>
    </div>

    <%- include('partials/footer') %>

</body>

</html>